*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-white-primary);
  font-family: var(--open-sans-font);
  line-height: 1.5;
  letter-spacing: 0.9px;
  background-color: var(--clr-blue-primary);
  position: relative;
}

a {
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

:root {
  --clr-blue-primary: hsl(225, 47%, 12%);
  --clr-white-primary: hsl(202, 44%, 92%);
  --clr-white-primary-blr: hsl(205, 51%, 93%, .5);
  --clr-blue-navbar: hsl(224, 52%, 8%);
  --clr-blue-navbar-blr: hsl(224, 52%, 8%, .9);
  --clr-light-blue: hsl(191, 100%, 66%);
  --clr-light-blue-blr: hsl(191, 100%, 66%, .2);
  --clr-gray: hsl(240, 1%, 31%);
}

:root {
  --roboto-mono-font: "Roboto Mono", monospace;
  --raleway-font: "Raleway", sans-serif;
  --open-sans-font: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.sr-only {
  visibility: hidden;
}

.nav-wrapper {
  background-color: var(--clr-blue-navbar);
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 1.3rem 3rem;
  z-index: 998;
  position: fixed;
  top: 0;
}
@media (max-width: 87.4375em) {
  .nav-wrapper {
    justify-content: center;
  }
}
@media (max-width: 37.9375em) {
  .nav-wrapper {
    padding: 2.1rem 3rem;
  }
}
.nav-wrapper--mod {
  background-color: var(--clr-blue-navbar-blr);
}

.primary-nav {
  font-family: var(--roboto-mono-font);
  gap: 3rem;
  font-size: 1rem;
}
@media (max-width: 37.9375em) {
  .primary-nav {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    padding: 10rem 3rem;
    background-color: var(--clr-blue-navbar);
    transform: translateX(100%);
  }
}

.primary-nav:last-child {
  padding-right: 2.5rem;
}

@media (max-width: 37.9375em) {
  .primary-nav[data-visible=true] {
    transform: translateX(0%);
    transition: transform 120ms ease-out;
  }
}

.primary-nav__link {
  position: relative;
  color: var(--clr-white-primary);
}
@media (max-width: 37.9375em) {
  .primary-nav__link {
    margin-left: 2.5rem;
    font-size: 1.2rem;
  }
}

.primary-nav__link:hover {
  color: var(--clr-light-blue);
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 37.9375em) {
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    background-image: url(../../images/icons8-menu.svg);
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.2rem;
    right: 2.5rem;
  }
}

@media (max-width: 37.9375em) {
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url(../../images/icons8-close.svg);
  }
}

.container-button {
  margin-top: 2.5rem;
}

.wrapper-button {
  margin-top: 1rem;
}
@media (max-width: 48.9375em) {
  .wrapper-button > .button {
    padding: 0.5rem 0.7rem;
  }
}

.button {
  font-size: 0.8rem;
  border: 1px solid var(--clr-light-blue);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: var(--clr-light-blue);
}
@media (max-height: 25rem) {
  .button {
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
  }
}
.button--resume {
  align-self: flex-end;
  padding: 0.35rem 0.55rem;
}

.button:hover {
  background-color: var(--clr-light-blue-blr);
}

.link {
  color: var(--clr-light-blue);
  position: relative;
}

@media (min-width: 48em) {
  .link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0;
    height: 1px;
    background: var(--clr-light-blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
  }
}

.link:hover::after {
  transform: scaleX(1);
}

.button-disabled {
  color: var(--clr-white-primary-blr);
  border: 1px solid var(--clr-white-primary-blr);
}

.button-disabled:hover {
  background-color: var(--clr-blue-primary);
}

.footer__icon {
  width: 1.8rem;
  transition: 0.2s ease-in-out 0s;
  cursor: pointer;
}
@media (min-width: 37em) {
  .footer__icon {
    width: 2.1rem;
  }
}
@media (max-height: 31.25em) {
  .footer__icon {
    width: 1.6rem;
  }
}
.footer__icon--small {
  width: 2rem;
}
@media (min-width: 37em) {
  .footer__icon--small {
    width: 2.9rem;
  }
}
@media (max-height: 31.25em) {
  .footer__icon--small {
    width: 1.9rem;
  }
}

.footer__icon:hover {
  transform: scale(1.15) translateY(-0.125em);
}

.footer {
  justify-content: center;
}
.footer__container--home {
  position: fixed;
  bottom: 5%;
}
.footer--section {
  flex-direction: column;
  align-items: center;
  padding: 9rem 0 0.8rem 0;
}

.footer__container {
  align-items: center;
  text-align: center;
  gap: 1rem;
}
@media (max-height: 50em) {
  .footer__container {
    bottom: 7%;
  }
}
.footer__container--text {
  font-family: var(--raleway-font);
  color: var(--clr-white-primary);
  letter-spacing: 2px;
  font-size: 0.8rem;
  bottom: 1.5%;
}
@media (min-width: 37em) {
  .footer__container--text {
    font-size: 1.0123rem;
  }
}
@media (max-height: 25rem) {
  .footer__container--text {
    font-size: 0.7rem;
  }
}
.footer__container--text:hover {
  color: var(--clr-light-blue);
}
.footer__container--section {
  margin-bottom: 0.5rem;
}
.footer__container--section::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 1px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: var(--clr-white-primary-blr);
}
@media (max-width: 48.9375em) {
  .footer__container--section::after {
    width: 250px;
  }
}

.section {
  padding-top: 7rem;
}
@media (min-width: 48em) {
  .section {
    max-width: 63.625rem;
  }
}
.section--mod {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 48em) {
  .section--mod {
    margin: 0 auto;
    padding: 7rem 3rem 0 3rem;
  }
}
.section__block {
  margin-bottom: 1.9rem;
  padding-left: 0.7rem;
}
@media (min-width: 48em) {
  .section__block {
    margin-bottom: 2.2rem;
    padding-left: 1.7rem;
  }
}
.section__title {
  font-weight: 700;
  font-size: 3.2rem;
}
@media (min-width: 48em) {
  .section__title {
    font-size: 5rem;
    letter-spacing: 2px;
  }
}
.section__title--secondary {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 48em) {
  .section__title--secondary {
    font-size: 2.4rem;
    margin-top: 3.5rem;
  }
}
.section__text {
  padding: 0.5rem 0;
  line-height: 1.7;
}
@media (min-width: 48em) {
  .section__text {
    max-width: 65ch;
    font-size: 1.2rem;
  }
}
.section__text--about {
  margin: 1rem 0 2rem 0;
}
.section__text--date {
  font-size: 1rem;
  font-family: var(--roboto-mono-font);
}
@media (min-width: 48em) {
  .section__text--date {
    font-size: 1.5rem;
  }
}
.section__text--first {
  padding-top: 0;
}
.section__list {
  padding-left: 0;
}
.section__list--pub > li {
  font-family: var(--raleway-font);
}
.section__list > li {
  padding: 0.3rem;
}

.list-title {
  font-family: var(--raleway-font);
  font-size: 1.7rem;
  margin: 2.5rem 0 0.8rem 0;
}

.list-number,
.list-number--big {
  font-family: var(--roboto-mono-font);
}
.list-number--big,
.list-number--big--big {
  font-size: 1.5rem;
  color: var(--clr-light-blue);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/mod-ipad2-umberto-FewHpO4VC9Y-unsplash.png");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 87.5em) {
  .hero {
    background-image: url("../../images/mod-umberto-FewHpO4VC9Y-unsplash.png");
  }
}

.home__container {
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10%;
}
@media (min-width: 48em) {
  .home__container {
    left: 15%;
  }
}
@media (max-height: 25rem) {
  .home__container {
    height: 85%;
    margin-top: 3rem;
  }
}

.home__text {
  max-width: 25ch;
  margin-right: 1.5rem;
  font-family: var(--raleway-font);
}
@media (min-width: 37em) {
  .home__text {
    font-size: 1.5rem;
    max-width: 30ch;
  }
}
@media (max-height: 25rem) {
  .home__text {
    font-size: 1.2rem;
  }
}
.home__text--big {
  font-size: 2.2rem;
}
@media (min-width: 37em) {
  .home__text--big {
    font-size: 3rem;
  }
}
@media (max-height: 25rem) {
  .home__text--big {
    font-size: 2rem;
  }
}

.home__link {
  color: var(--clr-light-blue);
}

.resume__text-wrapper {
  width: 100%;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
}

.timeline-container {
  border-left: 2px solid var(--clr-white-primary-blr);
}

.row {
  grid-auto-flow: column;
  gap: 1.5rem;
  max-width: 52rem;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-white-primary-blr);
}
.row__img {
  max-width: 8rem;
}
.row__icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}
.row__icon:hover, .row__icon:focus {
  color: var(--clr-light-blue);
}
.row__text--title {
  font-family: var(--raleway-font);
  font-size: 1.3rem;
}
.row__poster {
  max-width: 20rem;
}
.row--mod {
  align-items: flex-start;
  border: none;
}

.icon-container {
  text-align: end;
  margin-top: 1rem;
}

#journal-articles {
  padding-top: 2.5rem;
}

#posters {
  padding-top: 5rem;
}

/*# sourceMappingURL=style.css.map */
