*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--clr-white-primary);
  font-family: var(--open-sans-font);
  line-height: 1.4;
  letter-spacing: 0.9px;
  background-color: var(--clr-blue-primary);
  position: relative;
}

a,
button {
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

:root {
  --clr-blue-primary: hsl(225, 47%, 12%);
  --clr-white-primary: hsl(203, 37%, 93%);
  --clr-white-primary-blr: hsl(205, 51%, 93%, .5);
  --clr-blue-navbar: hsl(224, 52%, 8%);
  --clr-blue-navbar-blr: hsl(224, 52%, 8%, .9);
  --clr-light-blue: hsl(191, 100%, 66%);
  --clr-light-blue-blr: hsl(191, 100%, 66%, .2);
  --clr-gray: hsl(240, 1%, 31%);
  --clr-blue-200: hsl(228, 40%, 19%);
  --clr-blue-100: hsl(199, 64%, 37%);
  --fa-border-color: var(--clr-white-primary) ;
}

:root {
  --roboto-mono-font: "Roboto Mono", monospace;
  --raleway-font: "Raleway", sans-serif;
  --open-sans-font: "Open Sans", sans-serif;
}

h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.sr-only {
  visibility: hidden;
}

.nav-wrapper {
  background-color: var(--clr-blue-navbar);
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 1.3rem 3rem;
  z-index: 998;
  position: fixed;
  top: 0;
}
@media (max-width: 87.4375em) {
  .nav-wrapper {
    justify-content: center;
  }
}
@media (max-width: 37.9375em) {
  .nav-wrapper {
    padding: 2.1rem 3rem;
  }
}
.nav-wrapper--mod {
  background-color: var(--clr-blue-navbar-blr);
}

.primary-nav {
  font-family: var(--roboto-mono-font);
  gap: 3rem;
  font-size: 1rem;
}
@media (max-width: 37.9375em) {
  .primary-nav {
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    padding: 10rem 3rem;
    background-color: var(--clr-blue-navbar);
    transform: translateX(100%);
  }
}

.primary-nav:last-child {
  padding-right: 2.5rem;
}

@media (max-width: 37.9375em) {
  .primary-nav[data-visible=true] {
    transform: translateX(0%);
    transition: transform 120ms ease-out;
  }
}

.primary-nav__link {
  position: relative;
  color: var(--clr-white-primary);
}
@media (max-width: 37.9375em) {
  .primary-nav__link {
    margin-left: 2.5rem;
    font-size: 1.2rem;
  }
}

.primary-nav__link:hover {
  color: var(--clr-light-blue);
}

.active {
  color: var(--clr-light-blue);
}

.not-active {
  color: var(--clr-white-primary);
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 37.9375em) {
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    background-image: url("/images/icons/menu.svg");
    background-repeat: no-repeat;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 1.2rem;
    right: 2.5rem;
  }
}

@media (max-width: 37.9375em) {
  .mobile-nav-toggle[aria-expanded=true] {
    background-image: url("/images/icons/menu-close.svg");
  }
}

.container-button {
  margin-top: 2.5rem;
}

.button {
  font-size: 0.8rem;
  border: 1px solid var(--clr-light-blue);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  color: var(--clr-light-blue);
}
@media (max-height: 25rem) {
  .button {
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
  }
}
.button--resume {
  align-self: flex-end;
  padding: 0.35rem 0.55rem;
}

.button:hover {
  background-color: var(--clr-light-blue-blr);
}

.link,
.link:visited {
  color: var(--clr-light-blue);
  position: relative;
}

.link--resume,
.link--resume:visited {
  color: var(--clr-light-blue);
}

.link--resume:hover {
  text-decoration: underline;
}

@media (min-width: 48em) {
  .link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0;
    height: 1px;
    background: var(--clr-light-blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
  }
}

.link:hover::after {
  transform: scaleX(1);
}

.button-disabled {
  color: var(--clr-white-primary-blr);
  border: 1px solid var(--clr-white-primary-blr);
}

.button-disabled:hover {
  background-color: var(--clr-blue-primary);
}

.footer {
  background-color: var(--clr-lilac-dark);
  padding: 0.5rem;
  margin-top: 3rem;
}
.footer__text {
  font-family: var(--public-sans-font);
  text-align: center;
  padding: 0.025rem 1rem;
  font-size: 0.9rem;
}
.footer__text > a {
  color: var(--clr-white-primary);
}
.footer__text > a:hover {
  color: var(--clr-light-blue);
}
.footer--sticky {
  position: sticky;
  top: 100%;
}
.footer--home {
  animation: fadeIn 3s;
}

.socials {
  border-top: 1px solid var(--clr-white-primary);
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
}
@media (max-height: 31.25em) {
  .socials {
    border: none;
  }
}
.socials__link {
  color: var(--clr-white-primary);
  font-size: 2.3rem;
  padding: 0;
  transition: 0.2s ease-in-out 0s;
}
.socials__link > i {
  padding: 0;
  margin: 1rem 0.5rem;
}
@media (max-height: 31.25em) {
  .socials__link > i {
    font-size: 1.6rem;
  }
}
.socials__link > i:hover {
  transform: scale(1.15) translateY(-0.125em);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section {
  padding-top: 7rem;
}
@media (min-width: 48em) {
  .section {
    max-width: 63.625rem;
  }
}
.section--mod {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@media (min-width: 48em) {
  .section--mod {
    margin: 0 auto;
    padding: 7rem 3rem 0 3rem;
  }
}
.section__block {
  margin-bottom: 1.9rem;
  padding-left: 0.7rem;
}
@media (min-width: 48em) {
  .section__block {
    margin-bottom: 2.2rem;
    padding-left: 1.7rem;
  }
}
.section__title {
  font-weight: 700;
  font-size: 3.2rem;
}
@media (min-width: 48em) {
  .section__title {
    font-size: 5rem;
    letter-spacing: 2px;
  }
}
.section__title--secondary {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 48em) {
  .section__title--secondary {
    font-size: 2.4rem;
    margin-top: 3.5rem;
  }
}
.section__text {
  padding: 0.5rem 0;
  line-height: 1.7;
}
@media (min-width: 48em) {
  .section__text {
    max-width: 65ch;
    font-size: 1.2rem;
  }
}
.section__text--about {
  margin: 1rem 0 2rem 0;
}
.section__text--date {
  font-size: 1rem;
  font-family: var(--roboto-mono-font);
}
@media (min-width: 48em) {
  .section__text--date {
    font-size: 1.5rem;
  }
}
.section__text--first {
  padding-top: 0;
}
.section__ul {
  list-style: initial;
}
.section__list {
  padding-left: 0;
}
.section__list--pub > li {
  font-family: var(--raleway-font);
  font-size: 1rem;
}
.section__list > li {
  padding: 0.3rem;
}

.list-title {
  font-family: var(--raleway-font);
  font-size: 1.3rem;
  margin: 2.5rem 0 0.8rem 0;
}

@media (min-width: 95.5em) {
  .sidebar {
    position: fixed;
    right: 13%;
    top: 18.5rem;
    font-size: 1rem;
  }
}
.sidebar__title {
  font-family: var(--raleway-font);
  font-size: 1.3rem;
  margin: 2.5rem 0 0.8rem 0;
}
.sidebar__list {
  font-family: var(--raleway-font);
  font-size: 0.9rem;
  padding-left: 0;
}
.sidebar__list > li {
  margin-top: 0.5rem;
}

.list-number,
.list-number--big {
  font-family: var(--roboto-mono-font);
}
.list-number--big,
.list-number--big--big {
  font-size: 1.5rem;
  color: var(--clr-light-blue);
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("/images/backgrounds/mod3-compressed-umberto-FewHpO4VC9Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
@media (min-width: 95.5em) {
  .hero {
    background-image: url("/images/backgrounds/mod-umberto-FewHpO4VC9Y-unsplash.jpg");
  }
}

.home__container {
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10%;
}
@media (min-width: 48em) {
  .home__container {
    left: 15%;
  }
}
@media (max-height: 25rem) {
  .home__container {
    height: 85%;
    margin-top: 3rem;
  }
}

.home__text {
  max-width: 25ch;
  margin-right: 1.5rem;
  font-family: var(--raleway-font);
}
@media (min-width: 37em) {
  .home__text {
    font-size: 1.5rem;
    max-width: 30ch;
  }
}
@media (max-height: 25rem) {
  .home__text {
    font-size: 1.2rem;
  }
}
.home__text--big {
  font-size: 2.2rem;
}
@media (min-width: 37em) {
  .home__text--big {
    font-size: 3rem;
  }
}
@media (max-height: 25rem) {
  .home__text--big {
    font-size: 2rem;
  }
}

.home__link {
  color: var(--clr-light-blue);
}

.resume__text-wrapper {
  width: 100%;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
}

.timeline-container {
  border-left: 2px solid var(--clr-white-primary-blr);
  margin-bottom: 5rem;
}

.row {
  grid-auto-flow: column;
  gap: 1.5rem;
  max-width: 50rem;
  margin-top: 3rem;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--clr-white-primary-blr);
}
.row__img {
  max-width: 8rem;
  box-shadow: var(--clr-white-primary-blr) 6px 6px 2.5px;
}
@media (max-width: 48.9375em) {
  .row__img {
    display: none;
  }
}
.row__icon {
  font-size: 2.1rem;
  margin-right: 1rem;
}
@media (max-width: 37.9375em) {
  .row__icon {
    font-size: 1.8rem;
  }
}
.row__icon:hover, .row__icon:focus {
  color: var(--clr-light-blue);
}
.row__text--title {
  font-family: var(--raleway-font);
  font-size: 1.3rem;
}
@media (max-width: 37.9375em) {
  .row__text--title {
    font-size: 1rem;
  }
}
@media (max-width: 37.9375em) {
  .row__text {
    font-size: 0.7rem;
  }
}
.row__poster {
  max-width: 20rem;
  background-color: #ffffff;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.row--mod {
  align-items: flex-start;
  border: none;
}

.icons-container {
  justify-self: end;
}
@media (max-width: 48.9375em) {
  .icons-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.icon-container {
  text-align: end;
  margin-top: 1rem;
}

.anchor-icon {
  color: var(--clr-white-primary);
}
.anchor-icon > i {
  transition: 0.2s ease-in-out 0s;
}
.anchor-icon > i:hover {
  transform: scale(1.11) translateY(-0.12em);
}

@media (max-width: 37.9375em) {
  #publications-title {
    font-size: 2.4rem;
  }
}

#journal-articles {
  padding-top: 2.5rem;
}

#posters {
  padding-top: 5rem;
}

@media (max-width: 48.9375em) {
  #contact {
    max-width: 80%;
    margin: 0 auto;
  }
}

.contact {
  justify-content: center;
  align-items: center;
}
.contact__box {
  width: 60rem;
  margin: 80px 50px;
  flex-wrap: wrap;
}
@media (max-width: 48.9375em) {
  .contact__box {
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
  }
}
.contact-wrapper__links, .contact-wrapper__form {
  width: 50%;
  padding: 2rem 1rem 1.5rem 1rem;
}
@media (max-width: 48.9375em) {
  .contact-wrapper__links, .contact-wrapper__form {
    width: 95%;
    padding: 1rem;
  }
}
@media (max-width: 48.9375em) {
  .contact-wrapper__form {
    max-width: 30rem;
  }
}
.contact-wrapper__links {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--clr-blue-200);
  background: radial-gradient(circle at 58% 97%, var(--clr-blue-primary) 0 15%, transparent 15.4%), radial-gradient(circle at 12% 10%, var(--clr-blue-200) 0 17%, transparent 17.4%), radial-gradient(circle at 12% 10%, var(--clr-blue-100) 0 40%, transparent 40.2%), radial-gradient(circle at 20% max(78%, 350px), var(--clr-blue-primary) 0 7%, transparent 7.3%), var(--clr-blue-200);
  border-radius: 10px 0 0 10px;
}
@media (max-width: 48.9375em) {
  .contact-wrapper__links {
    display: none;
  }
}
.contact__links {
  padding-top: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.contact__icon {
  width: 3rem;
}
.contact__icon--small {
  width: 4rem;
}
.contact__icon:hover {
  transform: scale(1.15) translateY(-0.115em);
}
.contact__form {
  flex-direction: column;
  gap: 2rem;
}

.contact__form > input,
textarea {
  font-family: var(--open-sans-font);
  font-size: 1rem;
  padding: 0.7rem 0.9rem;
  width: 100%;
  border: 2px solid var(--clr-light-blue);
  outline: none;
  background-color: var(--clr-blue);
  color: #ffffff;
}

input:focus,
textarea:focus {
  background-color: #ffffff;
  color: var(--clr-blue-navbar);
}

.contact__form > input {
  border-radius: 50px;
}

.contact__form > textarea {
  height: 200px;
  border-radius: 10px;
}

.container__link--contact {
  text-align: end;
}

.link--contact {
  background-color: var(--clr-blue-primary);
  color: var(--clr-light-blue);
  outline: none;
  border: 1px solid var(--clr-light-blue);
  padding: 0.7rem 1rem;
  border-radius: 5px;
}
@media (max-width: 48.9375em) {
  .link--contact {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }
}
.link--contact:hover {
  background-color: var(--clr-light-blue-blr);
}

.footer--contact {
  margin-bottom: 0;
  display: none;
}
@media (max-width: 48.9375em) {
  .footer--contact {
    display: block;
  }
}

@media (max-width: 48.9375em) {
  #contact__desktop-footer {
    display: none;
  }
}

.fa-contact {
  font-size: 3.1rem;
}

.error-body {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.error {
  max-width: 55rem;
  padding: 7rem 1rem 0 1rem;
}
.error-img > img {
  width: 100%;
}
.error__paragraph {
  font-family: var(--raleway-font);
  font-size: 2rem;
  text-align: center;
}
.error__button {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
