@use '../utils' as u;
@use '../globals' as g;

.container-button {
    margin-top: 2.5rem;

    @include u.breakpoint-down(small) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.button {
    font-size: .8rem;
    border: 1px solid var(--clr-light-blue);
    padding: .7rem 1rem;
    border-radius: 5px;
    color: var(--clr-light-blue);

    @include u.breakpoint-down-height(small){
        font-size: .7rem;
        padding: .4rem .6rem;
    }

    &--resume {
        align-self: flex-end;
        padding: .35rem .55rem;
     }

}

.button:hover {
    background-color: var(--clr-light-blue-blr);
    
}

.link,
.link:visited {
    color: var(--clr-light-blue);
    position: relative;
    
}

.link--resume,
.link--resume:visited {
        color: var(--clr-light-blue);
    }

.link--resume:hover {
        text-decoration: underline;
}




.link::after {
    @include u.breakpoint(large){
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    left: 0;
    height: 1px;
    background: var(--clr-light-blue);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in-out;
    }
}

.link:hover::after {
    transform: scaleX(1) 
}



//temporarily disabled
.button-disabled {
    color: var(--clr-white-primary-blr);
    border: 1px solid var(--clr-white-primary-blr);
}

.button-disabled:hover {
    background-color: var(--clr-blue-primary);
  
}