@use '../utils' as u;
@use '../globals' as g;


.footer {
    background-color: var(--clr-lilac-dark);
    padding: .5rem;
    margin-top: 3rem;

    &__text {
        font-family: var(--public-sans-font);
        text-align: center;
        padding: .025rem 1rem;
        font-size: .9rem;
    }

    &__text>a {
        color: var(--clr-white-primary);
    }

    &__text>a:hover {
        color: var( --clr-light-blue);
    }

    &--sticky {
        position: sticky;
        top: 100%;
    }
}

.socials {
    border-top: 1px solid var(--clr-white-primary);
    margin: 0 auto;
    text-align: center;
    padding: .7rem 1rem 0 1rem;

    @include u.breakpoint-down-height(medium){
        border: none;
    }

    &__link {
        color: var(--clr-white-primary);
        font-size: 2.3rem;
        padding: 1rem .7rem;
        transition: .2s ease-in-out 0s;
        @include u.breakpoint-down-height(medium){
            padding: 0 .5rem;
        }
        
    }

    &__link>i {
        padding: 0;
        
        @include u.breakpoint-down-height(medium){
            font-size: 1.6rem; 
        }
    }

    &__link>i:hover {
        transform: scale(1.15) translateY(-.125em);  
    }
}
