@use '../utils' as u;
@use '../globals' as g;




.footer__icon {
    width: 1.8rem;
    transition: .2s ease-in-out 0s;
    cursor: pointer;

    @include u.breakpoint(medium){
        width: 2.1rem;
    }

    @include u.breakpoint-down-height(medium){
        width: 1.6rem; 
    }
    
    &--small {
        width: 2rem;
        @include u.breakpoint(medium){
            width: 2.9rem;
        }
        @include u.breakpoint-down-height(medium){
            width: 1.9rem; 
        }
        
    }
}

.footer__icon:hover {
    transform: scale(1.15) translateY(-.125em);
}

.home-footer {
    justify-content: center;

    
}

.footer__container {
    position: fixed;
    align-items: center;
    text-align: center;
    bottom: 5%;
    gap: 1rem;

    @include u.breakpoint-down-height(large){
       bottom: 7%;
    }

    

    &--text {
        font-family: var(--raleway-font);
        color: var(--clr-white-primary);
        letter-spacing: 2px;
        font-size: .8rem;
        bottom: 2%;

        @include u.breakpoint(medium){
            font-size: 1.0123rem;
        }

        @include u.breakpoint-down-height(small){
            font-size: .7rem;
         }

       
    }

    &--text:hover {
        color: var(--clr-light-blue);
    }
}