@use '../utils' as u;
@use '../globals' as g;

.section {
    
    padding-top: 7rem;

    @include u.breakpoint(large) {
        max-width: 63.625rem;
       
    }

    &--mod {
        margin-left: 1.5rem; 
        margin-right: 1.5rem;

        @include u.breakpoint(large) {
            margin: 0 auto;
            padding: 7rem 3rem 0 3rem;
        } 
    }
   
    &__block {
        margin-bottom: 1.9rem;
        padding-left: .7rem;

        @include u.breakpoint(large) {
            margin-bottom: 2.2rem; 
            padding-left: 1.7rem;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 3.2rem;
       

        @include u.breakpoint(large) {
            font-size: 5rem;
            letter-spacing: 2px;
        }
    }

    &__title--secondary {
        font-weight: 400;
        font-size: 1.7rem;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.2;

        @include u.breakpoint(large) {
            font-size: 2.4rem;
            margin-top: 3.5rem;
        }
    }

    &__text {
        padding: .5rem 0;
        line-height: 1.7;

        @include u.breakpoint(large) {
        max-width: 65ch;
        font-size: 1.2rem;
        }

        &--about {
            margin: 1rem 0 2rem 0;
        }
    }


    &__text--date {
        font-size: 1rem;
        font-family: var(--roboto-mono-font);

        @include u.breakpoint(large) {
            font-size: 1.5rem;
        }
    }

    &__text--first {
        padding-top: 0;
    }

    &__list {
        padding-left: 0;
    }

    &__list>li {
        padding: .3rem;
    }


}




