
*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 100%;  
}


html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-white-primary);
    font-family: var(--open-sans-font);
    line-height: 1.4;
    letter-spacing: .9px;
    background-color: var(--clr-blue-primary);
    position: relative;
    // min-height: 100vh;
 
}

a,
button {
    cursor: pointer;
    
}

img {
    width: 100%;
    display: block;
}

.fa-researchgate {
    // color: var(--clr-blue-primary);
    // border-color: var(--fa-border-color);
    // background-color: var(--clr-white-primary);
}

.contact__research-gate>i {
    color: var(--clr-blue-200);
} 