
*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 100%;  
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-white-primary);
    font-family: var(--roboto-mono-font);
}

a {
    text-decoration: none;
    color: var(--clr-light-blue);
}

img {
    width: 100%;
    display: block;
}