
*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 100%;  
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-white-primary);
    font-family: var(--open-sans-font);
    line-height: 1.5;
    letter-spacing: .9px;
    background-color: var(--clr-blue-primary);
    position: relative;
    
}

a {
    cursor: pointer;
    color: var(--clr-white-primary);
}

img {
    width: 100%;
    display: block;
}