:root {
    --clr-blue-primary: hsl(225, 47%, 12%);
    --clr-white-primary: hsl(203, 37%, 93%);
    --clr-white-primary-blr: hsl(205, 51%, 93%, .5);
    
    --clr-blue-navbar: hsl(224, 52%, 8%);
    --clr-blue-navbar-blr: hsl(224, 52%, 8%, .9);

    --clr-light-blue: hsl(191, 100%, 66%);
    --clr-light-blue-blr: hsl(191, 100%, 66%, .2);

    --clr-gray: hsl(240, 1%, 31%);

    //contact circles
    --clr-blue-200: hsl(228, 40%, 19%);
    --clr-blue-100: hsl(199, 64%, 37%);
   
    --fa-border-color: var(--clr-white-primary)
}