:root {
    --clr-blue-primary: hsl(225, 47%, 12%);
    --clr-white-primary: hsl(0, 0%, 100%);
    
    --clr-blue-navbar: hsl(224, 52%, 8%);
    --clr-blue-navbar-blr: hsl(224, 52%, 8%, .9);

    --clr-light-blue: hsl(191, 100%, 66%);
    --clr-light-blue-blr: hsl(191, 100%, 66%, .2);

    --clr-gray: hsl(240, 1%, 31%);

}